extends layout

block content
	div.jumbotron
		div.container#header-text
			h1 #{title}
			p It's easy, just fill out this form and you'll get stickers by the end of the workshop!

	div.container
		h3 #{onMobileDevice}
		form(name='poll', action='/submit', method='post')
			div.row
				div.form-group.col-md-6
					label(for='first_name') First name
					input(type='text', name='first_name', class='form-control')

				div.form-group.col-md-6
					label(for='last_name') Last name
					input(type='text', name='last_name', class='form-control')

			div.form-group
				label(for='fact') One random fact about yourself
				input(type='text', name='fact', class='form-control')

			input(type='submit' class='btn btn-success btn-block')
