extends layout

block content
	div.jumbotron
		div.container#header-text
			h1 #{title}
			p It's easy, just fill out this form and you'll get stickers by the end of the workshop!

	div.container(ng-controller='IndexController')
		div.alert.alert-danger(ng-if='!pol.$valid && hasSubmited')
			p 
				strong Error: 
				All fields are required
		h3 #{onMobileDevice}
		form(name='poll', method='POST', action='/submit')
			div.row
				div.col-md-6
					div.form-group
						label(for='first_name') First name
						input.form-control(type='text', name='first_name', ng-model='user.first_name', required)

				div.col-md-6
					div.form-group
						label(for='last_name') Last name
						input.form-control(type='text', name='last_name', ng-model='user.last_name', required)

			div.form-group
				label(for='fact') One random fact about yourself
				input.form-control(type='text', name='fact', ng-model='user.fact', required)

			input(type='submit' class='btn btn-success btn-block')
		
