extends layout

block content
	div.jumbotron
		img(src= "../images/header.png")

	
	//p Welcome to #{title}
	//p Maaaaahh niggaah

	div.container
	h1 Sign up to win!
		form(name='poll', action='/poll', method='post')
			div.row
				div.form-group.col-md-6
					label(for='first_name') First name
					input(type='text', name='first_name', class='form-control')

				div.form-group.col-md-6
					label(for='last_name') Last name
					input(type='text', name='first_name', class='form-control')

			div.form-group
				label(for='fact') One random fact about yourself
				input(type='text', name='fact', class='form-control')

			input(type='submit' class='btn btn-success btn-block')
