body {
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

.jumbotron {
	background: url('../images/header.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
}

#header-text {
	margin-top: -600px;
}

#logo {
	margin-top: 100%;
}