body {
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

.jumbotron {
<<<<<<< HEAD
	background: url('../images/header.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
}

#header-text {
	margin-top: -600px;
=======
	height: 100%;

}
form {
 margin: 5;
>>>>>>> c4ce4d66bb5ffa282009961925f0f1f34b4917f7
}